#define PIN_SERVO D0

#define MQTT_PASSWORD ""
#define MQTT_USER ""
#define MQTT_HOST ""
#define MQTT_PORT 1883
#define MQTT_TRIGGER_TOPIC "home/kitchen/cat_food_dispenser/set"

#define MQTT_RESET_TOPIC "iot/arduino_ota/set"

#define WIFI_SSID ""
#define WIFI_PASSWORD ""

#define OTA_HOST ""
#define OTA_PORT 8266
#define OTA_PASSWORD ""
